@import "../../variables";

.header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px;

  &__bar {
    max-width: $max-width-app;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    border-radius: 0px;
    position: relative;
    z-index: 1100;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;

    .meteocons {
      font-size: 2.8em;
    }

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px;
      padding-top: 0px;
      letter-spacing: 0px;
      font-weight: 400;
      height: 64px;
      line-height: 64px;
      flex: 1 1 0%;
      text-align: left;
      font-size: 1.3em;
    }
  }

  &__icon {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: -16px;
  }
}
