<li class="forecast-item">
  <div class="forecast-item__date" *ngIf="currentDay">
    <strong>Today</strong>
  </div>
  <div class="forecast-item__date" *ngIf="!currentDay">{{date | date: 'EEE dd MMM'}}</div>
  <div class="forecast-item__sky-state">
    <span [attr.class]="iconClassname"></span>
  </div>
  <div class="forecast-item__temperature forecast-item__temperature--day">
    <span class="forecast-item__temperature-data" data-deg="°" [attr.data-unit]="measureOfTemp">
      {{temperatureDay}}
    </span>
  </div>
  <div class="forecast-item__temperature forecast-item__temperature--night">
    <span class="forecast-item__temperature-data" data-deg="°" [attr.data-unit]="measureOfTemp">
      {{temperatureNight}}
    </span>
  </div>
  <div class="forecast-item__natural-phenomen">{{description}}</div>
</li>