<div class="forecast">
  <h2 class="forecast__header">Forecast for 7 days</h2>
  <ul class="forecast__list">
    <li class="forecast__day">
      <div class="forecast__date">Wed 19 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Thu 20 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Fri 21 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Sat 22 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Sun 23 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Mon 24 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
    <li class="forecast__day">
      <div class="forecast__date">Tue 25 Jul</div>
      <div class="forecast__sky-state">
        <span class="wi wi-day-rain"></span>
      </div>
      <div class="forecast__temperature">
        <span class="forecast__temperature-day">19.1 °C</span>
        <span class="forecast__temperature-night">17.4 °C</span>
      </div>
      <div class="forecast__natural-phenomen">light rain</div>
    </li>
  </ul>
</div>
