<div class="forecast" *ngIf="firstWeekForecast?.length > 0">
  <h2 class="forecast__header">Forecast for {{forecastDays}} days</h2>
  <ul class="forecast__list forecast__list--first-week">
    <app-forecast-item
      *ngFor="let firstWeekDay of firstWeekForecast"
      [date]="firstWeekDay.date"
      [temperatureDay]="firstWeekDay.temperatureDay"
      [temperatureNight]="firstWeekDay.temperatureNight"
      [iconClassname]="firstWeekDay.iconClassname"
      [measureOfTemp]="measureOfTemp"
      [description]="firstWeekDay.description">
    </app-forecast-item>
  </ul>
  <ul
    [ngClass]="{'forecast__list--collapsed': !isSecondWeekForecastListShow}"
    class="forecast__list forecast__list--second-week">
    <app-forecast-item
      *ngFor="let secondWeekDay of secondWeekForecast"
      [date]="secondWeekDay.date"
      [temperatureDay]="secondWeekDay.temperatureDay"
      [temperatureNight]="secondWeekDay.temperatureNight"
      [iconClassname]="secondWeekDay.iconClassname"
      [measureOfTemp]="measureOfTemp"
      [description]="secondWeekDay.description">
    </app-forecast-item>
  </ul>
  <div class="forecast__action" *ngIf="secondWeekForecast?.length > 0">
    <button
      class="btn forecast__action-btn"
      (click)="toggleSecondWeekForecastList()">
        {{buttonLabel}}
      </button>
  </div>
</div>
