<div class="header">
  <div class="header__wrapper">
      <a href="/" class="header__logo">
        <span class="wi wi-day-sunny"></span>
      </a>
      <h1 class="header__brand">forecast</h1>
      <div class="header__right-block">
        C
        <ui-switch
          class="header__unit-switcher"
          size="small"
          color="#B5B5B5"
          [checked]="!isUnitSwitcherChecked"
          (change)="onChangeUnitSwitcher()">
        </ui-switch>
        F
      </div>
  </div>
</div>
