<div class="city-card">
  <h2 class="city-card__header"> Current weather and forecasts in your city</h2>
  <div class="city-card__box">
    <div class="city-card__updated-label">
      last update at: <span>{{weather.updateAt | date: 'HH:mm:ss'}}</span>
    </div>
    <div class="city-card__sky-icon">
      <span [attr.class]="weather.iconClassname"></span>
    </div>
    <div class="city-card__temperature">
      <span data-deg="°" [attr.data-unit]="measureOfTemp">{{ weather.temp }}</span>
    </div>
    <div class="city-card__city-name" title="Washington">
      {{ weather.city }}
      <div class="city-card__sky-state city-card__sky-state--city-name">
        {{ weather.description }}
      </div>
    </div>
    <div class="city-card__date-time">
      <span class="city-card__clock">
        <app-clock></app-clock>
      </span>
      <span class="city-card__date">
        <app-date></app-date>
      </span>
    </div>
    <div class="divider"></div>
    <div class="city-card__info">
      <dl class="city-card__info-list">
        <dt>Wind:</dt>
        <dd>{{ weather.windBeaufortScale | lowercase }}, {{ weather.windDirection | lowercase }}, {{ weather.windSpeed }} {{ measureOfWindSpeed }}</dd>
        <dt>Humidity:</dt>
        <dd>{{ weather.humidity }}%</dd>
        <dt>Pressure:</dt>
        <dd>{{ weather.pressureInMmHg }} {{ measureOfPressure }}</dd>
      </dl>
      <dl class="city-card__info-list">
        <dt>Cloudiness:</dt>
        <dd>{{ weather.description }}</dd>
        <dt>Sunrise:</dt>
        <dd>{{ weather.sunrise | date: 'HH:mm' }}</dd>
        <dt>Sunset:</dt>
        <dd>{{ weather.sunset | date: 'HH:mm' }}</dd>
      </dl>
    </div>
    <div class="divider"></div>
  </div>
</div>
