<div class="city-card">
  <h2 class="city-card__header"> Current weather and forecasts in your city</h2>
  <div class="city-card__box">
    <div class="city-card__sky-icon">
      <span class="wi wi-day-sunny"></span>
    </div>
    <div class="city-card__temperature">
      <span data-deg="°" data-unit="C">{{ weather.temp }}</span>
    </div>
    <div class="city-card__city-name" title="Washington">
      {{ weather.city }}
      <div class="city-card__sky-state city-card__sky-state--city-name">
        {{ weather.type }}
      </div>
    </div>
    <div class="city-card__date-time">
      <span class="city-card__time">PMs
        <span>12:40</span>
      </span>
      <span class="city-card__date">FRI SEP.28</span>
    </div>
    <div class="divider"></div>
    <div class="city-card__info">
      <dl class="city-card__info-list">
        <dt>Wind:</dt>
        <dd>{{ weather.windBeaufortScale | lowercase }}, {{ weather.windSpeed }}m/s, {{ weather.windDirection | lowercase }}</dd>
         <!-- miles/hour -->
        <dt>Humidity:</dt>
        <dd>{{ weather.humidity }}%</dd>
        <dt>Pressure:</dt>
        <dd>{{ weather.pressureInMmHg }} mmHg</dd>
         <!-- pressureInInches -->
      </dl>
      <dl class="city-card__info-list">
        <dt>Cloudiness:</dt>
        <dd>{{ weather.type }}</dd>
        <dt>Sunrise:</dt>
        <dd>{{ weather.sunrise }}</dd>
        <dt>Sunset:</dt>
        <dd>{{ weather.sunset }}</dd>
      </dl>
    </div>
    <div class="divider"></div>
  </div>
</div>
