@import '../node_modules/normalize-scss/sass/_normalize';
@import './variables';

/**
 * Main
 * */
 html,
 body {
   width: 100%;
   height: 100%;
 }
 body {
   color: #333;
   font-family: $opensans;
   background: #fff;
 }

 h1, h2, h3,
 h4, h5, h6 {
   font-family: $opensans;
   text-align: center;
   font-weight: 400;
 }

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: $opensans;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 .meteocons {
   color: inherit;
   text-decoration: none;

   &:before {
     content: attr(data-icon);
     font-family: 'MeteoconsRegular';
   }
 }

 /**
  * main-box
  **/
  .app-box {
    position: relative;
  }

  .divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 1em auto 1em auto;

    &--60 {
      width: 60%;
    }
  }

  .clear-fix {
    @include clear-fix;
  }

  /**
   * btn
   **/
  .btn {
    cursor: pointer;
    outline: 0;
    padding: .2em 1% 0 1%;
    border: 1px solid #333;
    background: none;
  }


  /**
   * Spinner
   **/
//  #nprogress {
//    position: fixed !important;
//    z-index: 2000;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    pointer-events: auto !important;
//    background: rgba(255, 255, 255, 0.4);

//    .spinner {
//      top: 50% !important;
//      left: 50%;
//      margin: -35px 0 0 -35px;
//    }

//    .spinner-icon {
//      width: 70px !important;
//      height: 70px !important;
//      border: solid 5px transparent !important;
//      border-top-color: #32c5d2 !important;
//      border-left-color: #32c5d2 !important;
//      animation: nprogress-spinner 1000ms linear infinite !important;
//    }

//    .bar {
//      display: none;
//    }
//    .peg {
//      box-shadow: 0;
//    }
//  }

 /**
  * Content box
  * */
 .content-box {
   max-width: $max-width-app;
   padding: 0 3%;
   margin: 4em auto;
 }
